p, span,textarea.form-control {
  color: #6C757D;
}
  

.form-control:focus{
  color: #6C757D;

}



body {
  background-color: #15202B;
  /* background-color: aquamarine; */
  box-sizing: border-box;
}
.container {
  margin: auto;
  margin-top: 80px;
  width: 600px;
}
.App {
  /* background-color: #15202B; */
}

.noteEdit{
  position: relative;
}
 
.btn-tweet{
 background-color: #007BFF;
  position:absolute;
  bottom : 20px;
  right:10px;
  
}
 
.color-grey-white{

}


.color-grey-ccc{
background-color: #CCCCCC;
}

.color-grey-mid{
  background-color: #6C757D;
}

.color-grey-dark{

}






textarea{
border:  #CCCCCC;
  height: 180px;
     background-color: blue;
}

/* .note-in-pack-title button:hover svg {
  transform: scale(1.2);
} */

/* .theform {
  margin: auto;
  width: 350px;
} */
 
/* .theform button {
 
} */

/* .hover-small-Note {
  width: 100%;
  height: 100%;
  background-color: #fafa34;
  position: absolute;

  left: 0;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -3;
  display: none;
}

.note-in-pack {
  text-align: left;
  background-color: rgb(255, 255, 255);
  transition: transform 0.15s;
}

.icon-edit {
  opacity: 0;
  width: 18px;
  height: 18px;
  margin: 0 0 0 -15px;
  transition: opacity 0.1s;
  transition: margin 0.15s;
}

.note-in-pack:hover .icon-edit {
  opacity: 1;
  margin: 0 0 0 0;
}
.note-in-pack:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.note-pack {
  display: flex;
  justify-content: space-around;
} */

.note {
  width: 200px;
}

.note-list-header {
  display: flex;
}

.note-date {
  font-size: 10px;
  font-weight: bold;
}

.note-date {
  font-size: 10px;
}

/* .trashIcon {
  cursor: pointer;
  float: right;
  transition: transform 0.1s;
}

.trashIcon:hover {
  transform: scale(1.2);
} */

.PopMPdalButtom {
  background-color: #67918d;
  height: 100%;
  z-index: 2;
}

.PopUpModal {
  z-index: 3;
  background-color: #09439b;
}
