/* -----------------------general------------------- */
:root{
  --color-no1:  #ffffff;
}


p,
span,
textarea.form-control {
  color: #6c757d;
  font-size: 16px;

  font-family: "Roboto", sans-serif;
}





.form-control:focus {
  color: #6c757d;
}

.navbar {
  list-style-type: none;
  color: var( --color-no1); 
  height: 58px;
}

.nav-bar-link:link {
  color: #ffffff7e;
  text-decoration: none;
}

.nav-bar-link:visited {
  color: #ffffff7e;
  text-decoration: none;
}

.nav-bar-link:hover {
  color: var( --color-no1); 
  text-decoration: underline;
}

.nav-bar-link:active {
  color: var( --color-no1); 

  text-decoration: underline;
}

body {
  background-color: #15202b;
  /* background-color: aquamarine; */
  box-sizing: border-box;
}

.container {
  margin: auto;
  margin-top: 80px;
  width: 600px;
}


.color-white {
  color:  var( --color-no1); 
}

.color-grey-ccc {
  color: #cccccc;
}

.color-grey-mid {
  color: #6c757d;
}

.color-grey-dark {
  color: #343a40;
}

.bg-color-white {
  background-color:  var( --color-no1); 
}

.bg-color-grey-ccc {
  background-color: #cccccc;
}

.bg-color-grey-mid {
  background-color: #6c757d;
}

.bg-color-grey-dark {
  background-color: #343a40;
}

/* -----------------------PROFILE------------------- */

.hedline-text {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-kerning: none;
}

.subline-text {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-kerning: none;
}

.inputName {
  color: #6c757d;
  /* height: 61px; */
  /* font-size: 52px; */
}

.inputName:focus {
  color: #6c757d;
}

.profilebtn {
  background-color: #007bff;
  float: right;
}

/* -----------------------Home------------------- */

.noteEdit {
  position: relative;
}

.btn-tweet {
  background-color: #007bff;
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.too-long {
  color: #721c24;
  background-color: #f8d7da;
  position: absolute;
  bottom: 7px;
  left: 15px;
}

.spinner-css {
  color:  var( --color-no1); 
  position: absolute;
  margin-left: auto;
  bottom: 20px;
  left: 15px;
}

textarea {
  border:  var( --color-no1); 
  height: 180px;
  background-color: blue;
  resize: none;
}



.note {
  width: 200px;
}

.note-list-header {
  display: flex;
}

.note-date {
  font-size: 10px;
  font-weight: bold;
}

.note-date {
  font-size: 10px;
}


.PopMPdalButtom {
  background-color: #67918d;
  height: 100%;
  z-index: 2;
}

.PopUpModal {
  z-index: 3;
  background-color: #09439b;
}


.profileImage{
  width: 80px; 
  height: 80px;
  border-radius: 100%;
  background-color: var( --color-no1); 
  border-color: var( --color-no1); 
  border: 2px solid var( --color-no1); 
  border-width: 2px;
}

.profileImage img{
  border-radius: 100%;
  width: 100%; 
  height:  100%;
}